@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
:root {
  --color-primary: #252934;
  --color-secondary: #1b242f;
  --color-gray: #616161;
  --color-gray-light: rgb(247, 240, 240);
  --color-light-blue: #04c2c9;
  --color-pink: #e31b6d;
  --font-primary: 'Orbitron', sans-serif;
  --font-secondary: 'Raleway', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  z-index: 1;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section--hidden {
  opacity: 0;
  -webkit-transform: translateY(8rem);
          transform: translateY(8rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  color: #fff;
}

h1 {
  font-size: 3.2rem;
}

@media screen and (min-width: 550px) {
  h1 {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 850px) {
  h1 {
    font-size: 4.6rem;
  }
}

h2 {
  font-size: 2rem;
}

p {
  font-family: var(--font-secondary);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-heading__name {
  font-size: 3.5rem;
  color: var(--color-pink);
}

@media screen and (min-width: 550px) {
  .main-heading__name {
    font-size: 4rem;
  }
}

@media screen and (min-width: 850px) {
  .main-heading__name {
    font-size: 6rem;
  }
}

.secondary-heading {
  margin: 3.5rem 0;
  color: var(--color-light-blue);
}

@media screen and (min-width: 380px) {
  .secondary-heading {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 550px) {
  .secondary-heading {
    font-size: 2.7rem;
  }
}

@media screen and (min-width: 850px) {
  .secondary-heading {
    font-size: 3.5rem;
  }
}

.section-heading {
  font-size: 3rem;
  margin-bottom: 5rem;
  text-align: center;
  position: relative;
  color: #fff;
}

.section-heading::after {
  content: '';
  display: block;
  width: 10rem;
  height: 0.3rem;
  background-color: var(--color-light-blue);
  position: absolute;
  top: 120%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (min-width: 750px) {
  .section-heading {
    font-size: 4.2rem;
  }
}

.header {
  position: relative;
  text-align: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7))), url("../img/heroimage.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7)), url("../img/heroimage.jpg");
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 550px) {
  .header {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    text-align: left;
    padding: 0 5.5rem;
  }
}

@media screen and (min-width: 380px) {
  .header {
    padding: 0 5rem;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 0 15rem;
  }
}

.header__social-icons {
  margin-top: 2.7rem;
}

.header__social-icon {
  width: 3.2rem;
  height: 3.2rem;
  margin: 0 1.3rem;
  fill: #c2b5b5;
}

@media screen and (min-width: 550px) {
  .header__social-icon {
    width: 4rem;
    height: 4rem;
  }
}

@media screen and (min-width: 850px) {
  .header__social-icon {
    width: 5rem;
    height: 5rem;
  }
}

@media screen and (min-width: 1200px) {
  .header__social-icon {
    width: 7rem;
    height: 7rem;
    margin-right: 8rem;
  }
}

.header__arrow-down {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 89%;
  fill: #c2b5b5;
  -webkit-animation: bounce 3s infinite;
          animation: bounce 3s infinite;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__arrow-down:hover {
  fill: var(--color-pink);
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@media screen and (min-width: 550px) {
  .header__arrow-down {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 6rem;
    height: 6rem;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 8rem;
  background-color: var(--color-secondary);
  z-index: 10;
}

.main-nav__items {
  display: none;
  text-align: center;
}

@media screen and (min-width: 750px) {
  .main-nav__items {
    padding: 1rem 8rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main-nav__item {
  font-family: var(--font-primary);
  padding: 0 1.5rem;
  text-align: center;
  width: 100%;
  text-align: center;
}

.main-nav__item:not(:first-child) {
  border-left: 1px solid var(--color-pink);
}

.main-nav__link {
  display: block;
  font-size: 2.5rem;
  color: var(--color-gray-light);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-nav__link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: var(--color-light-blue);
}

.menu-btn {
  cursor: pointer;
  margin-left: auto;
  padding: 0 4.5rem;
  position: absolute;
  right: 0;
}

.menu-btn .btn-line {
  width: 4rem;
  height: 0.3rem;
  margin: 0 0 0.6rem 0;
  background: #fff;
}

@media screen and (min-width: 750px) {
  .menu-btn {
    display: none;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.menu-sidebar {
  color: white;
  top: 0;
  left: 0;
  z-index: 10000;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: var(--color-secondary);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-sidebar__close-btn {
  cursor: pointer;
  top: 1rem;
  right: 2rem;
  position: absolute;
  font-size: 7rem;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-sidebar__close-btn:hover {
  color: red;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (min-width: 550px) {
  .menu-sidebar__close-btn {
    top: 0rem;
    right: 3rem;
    font-size: 7.6rem;
  }
}

.menu-sidebar__items {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-sidebar__item {
  padding: 2rem;
}

.menu-sidebar__link {
  font-family: var(--font-primary);
  font-size: 4rem;
  letter-spacing: 0.8rem;
  color: var(--color-gray-light);
}

.menu-sidebar__link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: var(--color-light-blue);
}

.menu-sidebar__link:active {
  color: var(--color-pink);
}

.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.skills {
  padding: 3rem;
  background-color: #f5f5f5;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.skills .section-heading {
  color: var(--color-secondary);
}

.skills__container {
  display: -ms-grid;
  display: grid;
  grid-gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 460px) {
  .skills__container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .skills__container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.skills__skill {
  width: 6.5rem;
  height: 6.5rem;
}

@media screen and (min-width: 460px) {
  .skills__skill {
    width: 7.5rem;
    height: 7.5rem;
  }
}

@media screen and (min-width: 750px) {
  .skills__skill {
    width: 9rem;
    height: 9rem;
  }
}

@media screen and (min-width: 1200px) {
  .skills__skill {
    width: 10rem;
    height: 10rem;
  }
}

.skill-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill-container p {
  font-weight: 600;
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
}

.portfolio {
  margin: 0 auto;
  padding: 3rem 2rem;
  background-color: white;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.portfolio__cards-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10rem, 60rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(10rem, 60rem));
  grid-gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 850px) {
  .portfolio__cards-container {
    grid-gap: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__cards-container {
    grid-column-gap: 10rem;
  }
}

.portfolio h3 {
  color: var(--color-primary);
}

.portfolio__card {
  margin: 1rem auto;
  padding: 1.5rem 1.5rem;
  border: 1px solid var(--color-light-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0px 5px 13px 0px #616161;
          box-shadow: 0px 5px 13px 0px #616161;
}

.portfolio__card-title {
  margin-bottom: 1.6rem;
  font-family: var(--font-secondary);
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.portfolio__card-description {
  padding: 1rem 0;
  font-size: 1.5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.portfolio__card-description p {
  margin-top: 0.8rem;
}

@media screen and (min-width: 550px) {
  .portfolio__card-description {
    font-size: 2rem;
  }
}

.portfolio__card-languages {
  margin-bottom: 1rem;
}

.portfolio__card-languages span {
  border-radius: 4rem;
  font-family: var(--font-primary);
  font-size: 1.5rem;
  font-weight: 600;
  display: inline-block;
  padding: 0.5rem 0.5rem;
  color: var(--color-pink);
}

@media screen and (min-width: 550px) {
  .portfolio__card-languages span {
    font-size: 2rem;
  }
}

.portfolio__card img {
  width: 100%;
  height: 100%;
  border: 2px solid var(--color-secondary);
}

.portfolio__card-links {
  margin-top: 2rem;
  font-size: 2rem;
}

.portfolio__card-links a {
  margin: 0 2rem;
  padding: 0.5rem 1.7rem;
  border: 1px solid var(--color-light-blue);
  border-radius: 1.5rem;
  text-decoration: none;
  color: var(--color-primary);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio__card-links a:hover {
  background-color: var(--color-light-blue);
}

.portfolio__card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.about {
  padding: 3rem 1rem;
  background-color: white;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media screen and (min-width: 650px) {
  .about {
    padding: 3rem 3rem;
  }
}

.about .section-heading {
  color: var(--color-secondary);
}

.about__avatar {
  grid-column: 1/-1;
  width: 60%;
  max-width: 20rem;
  display: block;
  border-radius: 50%;
  margin: 0 auto;
  border: 1px solid var(--color-secondary);
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.about__subheading {
  grid-column: 1/-1;
  color: var(--color-pink);
  margin-top: 1.6rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.about__icon {
  width: 2.3rem;
  height: 2.3rem;
}

@media screen and (min-width: 650px) {
  .about__icon {
    width: 4rem;
    height: 4rem;
  }
}

.about p {
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem;
  width: 100%;
}

@media screen and (min-width: 650px) {
  .about p {
    text-align: left;
    padding: 1rem 3rem;
    font-size: 2.3rem;
  }
}

.about__location, .about__studies, .about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 650px) {
  .about__location, .about__studies, .about__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.contact {
  padding: 3rem;
  background-color: cadetblue;
  background-color: var(--color-primary);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.contact__subheading {
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
  padding: 2rem;
}

@media screen and (min-width: 1000px) {
  .contact__subheading {
    font-size: 2.5rem;
    margin: 4rem 0;
  }
}

.contact__form {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__form input,
.contact__form textarea {
  color: #fff;
  margin-bottom: 0.3rem;
  padding: 1.3rem;
  width: 100%;
  display: block;
  border-radius: 0.3rem;
  border: none;
  background-color: var(--color-secondary);
  outline: none;
  max-width: 800px;
}

@media screen and (min-width: 1000px) {
  .contact__form input,
  .contact__form textarea {
    font-size: 2.5rem;
    padding: 2rem;
  }
}

.contact__form textarea {
  min-height: 14rem;
}

.contact__form button {
  cursor: pointer;
  border-radius: 1.8rem;
  max-width: 480px;
  margin-top: 2rem;
  border: 0.1rem solid #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #fff;
  display: block;
  width: 100%;
  padding: 1rem 2rem;
  background-color: var(--color-secondary);
}

@media screen and (min-width: 1000px) {
  .contact__form button {
    font-size: 2.3rem;
  }
}

.contact__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
}

@media screen and (min-width: 500px) {
  .contact__icons {
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact__icon-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__icon {
  width: 8rem;
  height: 8rem;
  fill: #eee;
}

@media screen and (min-width: 500px) {
  .contact__icon {
    width: 11rem;
    height: 11rem;
  }
}

.contact__icon-label {
  padding: 2rem 1rem;
  font-size: 2rem;
  font-family: var(--font-primary);
  color: var(--color-light-blue);
}

.footer {
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-primary);
  border-top: 0.2rem solid var(--color-pink);
}

.footer__text {
  font-family: var(--font-primary);
  color: var(--color-light-blue);
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
}
/*# sourceMappingURL=main.css.map */