.footer {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  border-top: 0.2rem solid var(--color-pink);

  &__text {
    font-family: var(--font-primary);
    color: var(--color-light-blue);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
  }
}
