.header {
  position: relative;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(black, 0.7)), url('../img/heroimage.jpg');
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 550px) {
    align-items: start;
    text-align: left;
    padding: 0 5.5rem;
  }
  @media screen and (min-width: 380px) {
    padding: 0 5rem;
  }
  @media screen and (min-width: 1200px) {
    padding: 0 15rem;
  }

  &__social-icons {
    margin-top: 2.7rem;
  }

  &__social-icon {
    width: 3.2rem;
    height: 3.2rem;
    margin: 0 1.3rem;
    fill: rgb(194, 181, 181);
    @media screen and (min-width: 550px) {
      width: 4rem;
      height: 4rem;
    }
    @media screen and (min-width: 850px) {
      width: 5rem;
      height: 5rem;
    }
    @media screen and (min-width: 1200px) {
      width: 7rem;
      height: 7rem;
      margin-right: 8rem;
    }
  }
  &__arrow-down {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 89%;
    fill: rgb(194, 181, 181);
    animation: bounce 3s infinite;
    transition: all 0.3s;
    &:hover {
      fill: var(--color-pink);
    }

    @keyframes bounce {
      0%,
      20%,
      50%,
      80%,
      100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-25px);
      }
      60% {
        transform: translateY(-15px);
      }
    }

    @media screen and (min-width: 550px) {
      align-self: center;
      width: 6rem;
      height: 6rem;
    }
  }
}
