.main-nav {
  display: flex;
  align-items: center;
  text-align: center;
  height: 8rem;
  background-color: var(--color-secondary);
  z-index: 10;

  &__items {
    display: none;
    text-align: center;

    @media screen and (min-width: 750px) {
      padding: 1rem 8rem;
      width: 100%;

      display: flex;
      justify-content: space-between;
    }
  }

  &__item {
    font-family: var(--font-primary);
    padding: 0 1.5rem;
    text-align: center;
    width: 100%;
    text-align: center;
    &:not(:first-child) {
      border-left: 1px solid var(--color-pink);
    }
  }

  &__link {
    display: block;
    font-size: 2.5rem;
    color: var(--color-gray-light);
    transition: all 0.3s;

    &:hover {
      transform: scale(1.2);
      color: var(--color-light-blue);
    }
  }
}

.menu-btn {
  cursor: pointer;
  margin-left: auto;
  padding: 0 4.5rem;
  position: absolute;
  right: 0;
  .btn-line {
    width: 4rem;
    height: 0.3rem;
    margin: 0 0 0.6rem 0;
    background: #fff;
  }
  @media screen and (min-width: 750px) {
    display: none;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
