.menu-sidebar {
  color: white;
  top: 0;
  left: 0;
  z-index: 10000;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: var(--color-secondary);
  transform: translateX(-100%);
  transition: all 0.3s;

  &__close-btn {
    cursor: pointer;
    top: 1rem;
    right: 2rem;
    position: absolute;
    font-size: 7rem;
    color: white;
    transition: all 0.3s;

    &:hover {
      color: red;
      transform: scale(1.1);
    }

    @media screen and (min-width: 550px) {
      top: 0rem;
      right: 3rem;
      font-size: 7.6rem;
    }
  }

  &__items {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__item {
    padding: 2rem;
  }

  &__link {
    font-family: var(--font-primary);
    font-size: 4rem;
    letter-spacing: 0.8rem;
    color: var(--color-gray-light);

    &:hover {
      transform: scale(1.2);
      color: var(--color-light-blue);
    }

    &:active {
      color: var(--color-pink);
    }
  }
}

.show {
  transform: translateX(0);
}
