@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  color: #fff;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-family: var(--font-secondary);
}

.main-heading__name {
  color: var(--color-pink);
}

.secondary-heading {
  margin: 3.5rem 0;
  color: var(--color-light-blue);
}
